<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Montserrat:400,700|Lobster+Two:400,400italic|Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <link href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" rel="stylesheet" />
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>
    <script src="leaflet-icons.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    
    <script src="app.js"></script>
    <script src="scrolling.js"></script>
    <link href="style.css" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="MainCtrl">

    <div class="leafletmap" id="leafletmap">
        <!--
        <div class="hero-unit">
            <h1>Welcome to GR-rusalem.</h1>
            <p>Your guide to Grand Rapids area church communities.</p>
            <a class="btn btn-primary btn-large">
              Find a church
            </a>
        </div> -->
    </div>
    <div class="title flip-container">
        <div class="flipper">
            <div class="overlay front">
                <h1>Find a Church</h1>
                <h3>get involved. Let us help!</h3>
                <br>
                <p>Your guide to the Christian congregations of the the greater Grand Rapids area</p>
                <!--<button class="btn btn-large btn-primary" ng-click="page = page + 1" ng-init="page = 0">
                    <i class="fa fa-hand-o-right"></i> Find a church
                </button>-->
            </div>
            <div class="overlay back">
                <h2>A Calvin Student Senate project.</h2>
                <input type="text" ng-model="searchText">
            </div>
        </div>
    </div>

        <!--
        <div class="church item" ng-repeat='church in churches | orderBy:name'>
            <h2 class="church name">{{church.name}}</h2>
            <h5 class="church denom"> {{church.denomination}} | {{church.worship_style}} </h5>
            <p class="church statement">{{church.mission_statement}}</p>
        </div> -->
    <div id='directory'>
                    

        <div class='church item' ng-repeat='church in churches | filter:searchText | orderBy:"name"'>

                    <div addtomap lng="{{church.lng}}" lat="{{church.lat}}" churchName="{{church.name}}" churchAddr="{{church.address}}" class="container">
                        <div class="row">
                            <div class="span6 columnL">
                                <h2>{{church.name}} </h2>
                                <h5>{{church.worship_description}}</h5>
                                <h5><small>{{church.sunday_service_time}}</small></h5>
                                <i class="loc fa fa-truck fa-2x" ng-if="church.transportation.indexOf('yes') != -1"></i>
                                <i class="loc fa fa-2x fa-map-marker" ng-click="mymap.invalidateSize(true); mymap.setView([church.lat, church.lng], 14);"></i>
                            </div>
                            <div class="span6 columnR">
                                <p>{{church.mission_statement}} <i class="fa fa-angle-down handy" ng-click="church.showMore = !church.showMore" ng-class="{'fa-rotate-180':church.showMore}"></i> </p>
                            </div>
                        </div>
                        <div ng-show="church.showMore">
                        <div class="row">
                            <div class="span6 columnL">
                                <h5>Opportunities</h5>
                            </div>
                            <div class="span6 columnR">
                                <p>{{church.student_opportunities}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span6 columnL">
                                <h5>Needs</h5>
                            </div>
                            <div class="span6 columnR">
                                <p>{{church.student_needs}}</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                                        
              
            </div>
        </div>           
    </div>
</body>
</html>
<h3>{{church.gsx$churchname.$t}}</h3>
            <p>{{church['gsx$pleaseprovideamissionstatementthatdescribesyourpurposeandidentityasachurch.']['$t']}}</p>